# Development, use pip install -e .[dev]
coverage
black[jupyter]>=21.8b0
mypy
proxy.py
pytest
pytest-cov
pytest-mypy
twine
pytest-flake8
isort
darglint
pytest-mock
# mypy new version requires below
types-requests
# required for building docs
Sphinx>=2.4.0
sphinx-rtd-theme
jupyter-sphinx==0.2.4a1
here-map-widget-for-jupyter>=1.1.1